@define-color background rgba(37, 40, 46, 0.5);
@define-color text rgba(235, 235, 235, 1);
@define-color border #8882ff;

* {
  font-family: "font-awesome";
  color: white;
  font-size: 11px;
}

window#waybar {
  /*    background-color: rgba(43, 48, 59, 0.5); */
  /*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  background-color: rgba(0, 0, 0, 0);
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 0;
  border: none;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: rgba(0,0,0,0);
}

tooltip {
  background: rgba(0,0,0,1);
}

tooltip label {
  color: @text;
  text-decoration: none;
  text-shadow: none;
}

#workspaces {
  background-color: rgba(0,0,0,1);

  padding: 0px 4px 0px 3px;
  
  border: 1px solid white;
  border-radius: 13px;

  margin: 0px 0px;


  /* box-shadow: 0 0 2 1px rgba(0, 0, 0, 0.5); */
}

#workspaces button {
  padding: 0px 4px 0px 0px;

  color: grey;
  background-color: transparent;
  
  border-radius: 16px;



}

#window {
  padding: 0px 4px;

  background-color: black;

  border: 1px solid white;
  border-radius: 10px 10px; 
}

#network {
  padding: 0px 16px 0px 10px;

  background-color: rgba(0,0,0,1);

  border: 1px solid white;
  border-radius: 30px 30px;

  margin: 0px 0px;

 }

#cpu {
  padding: 0px 10px 0px 6px;

  background-color: rgba(0,0,0,1);

  border: 1px solid white;
  border-radius: 30px 30px;

  margin: 0px 0px;
  
}

#memory {
  padding: 0px 11px 0px 6px;

  background-color: rgba(0,0,0,1);

  border: 1px solid white;
  border-radius: 30px 30px;

  margin: 0px 0px;
  
}

#temperature {
  padding: 0px 5px;

  background-color: rgba(0,0,0,1);

  border: 1px solid white;
  border-radius: 30px 30px;

  margin: 0px 0px;

}

#clock {
  padding: 0px 8px;

  background-color: rgba(0,0,0,1);

  border: 1px solid white;
  border-radius: 30px 30px;

  margin: 0px 0px;
}

#pulseaudio {
  padding: 0px 13px 0px 5px;


  background-color: rgba(0,0,0,1);

  border: 1px solid white;
  border-radius: 30px 30px;

  margin: 0px 0px;
  
}

#tray {
  padding: 0px 10px;

  background-color: rgba(0,0,0,1);

  border: 1px solid white;
  border-radius: 30px 30px;

  margin: 0px;
}

#custom-power {
  padding: 0px 6px 0px 10px;

  background-color: rgba(0,0,0,1);

  border: 1px solid white; 
  border-radius: 30px 30px;

  margin: 0px 0px; 
  
}

#battery,
#disk,
#backlight,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor
#scratchpad,
#custom-os,
#user,
#mpris,
#mpd {
  background-color: @background;
  padding: 0.1cm;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  border-radius: 8px;

  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
  /*box-shadow: 0 0 3 1px rgba(0, 0, 0, 0.5);*/
}

/*
#battery icon {
  color: red;
}

#battery.charging, #battery.plugged {
  background-color: #26A65B;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
*/

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

/*

window#waybar.solo {
background-color: #FFFFFF;
}

window#waybar.termite {
background-color: #3F3F3F;
}

window#waybar.chromium {
background-color: #000000;
border: none;
}
 */
